<div class="container">
  <div class="header">
    פנאל עליון
  </div>
  <div class="content">
    <div class="right">
      <menu (sectionClicked)=onSectionClicked($event)></menu>
    </div>
    <div class="middle" [ngSwitch]="selectedSection">
      <calculator *ngSwitchCase="'calculator'"></calculator>
      <employees *ngSwitchCase="'employees'"></employees>
      <div *ngSwitchCase="'Section 3'">
          Section 3
      </div>
    </div>
    <div class="left">
      פנאל שמאל
    </div>
  </div>
  <div class="footer">
    פנאל תחתון
  </div>
</div>
